body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(220, 183, 183);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.slack-info {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.slack-info div {
    flex: 1;
    margin: 10px;
    text-align: center;
   
}

.goals {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0073e6;
}

@media (max-width: 768px) {
    .slack-info {
        flex-direction: column;
    }
}
